// Адаптация сайта
@media ( max-width: 1800px )
    img.services__img
        width: 450px
        height: 419px
@media ( max-width: 1700px )
    h2.services-title
        font-size: 34px
    div.services-title-block, div.coop-title-block, div.job-title-block
        font-size: 23px
    div.services__text, div.coop__text, div.job__text
        font-size: 18px
    button.services-button
        width: 340px
        font-size: 15px
    h2.company-title
        font-size: 57px
    div.company__text
        font-size: 80px
    div.company__subtext
        font-size: 25px
    img.company__img
        height: 108px
    h2.coop-title, h2.cert-title, h2.job-title, h2.reviews-title, h2.questions-title
        font-size: 35px
    img.coop__img
        width: 450px
        height: 600px
    img.coop__arrow
        width: 270px
        height: 280px
    img.coop__colling
        left: 65%
        transform: translateX(-65%)
    img.cert__img
        width: 990px
        height: 730px
    img.job__img
        width: 550px
        height: 550px
    img.reviews__img
        width: 900px
        height: 480px
    section.cert
        height: 1300px
    h2.cert-title
        padding-top: 140px
@media ( max-width: 1600px )
    ul.nav__list a
        font-size: 17px
        padding-left: 40px
    img.nav__logo
        width: 150px
    a.nav__phone
        font-size: 17px
    button.nav-button
        font-size: 15px
        width: 186px
    div.main__wrapper-all
        padding: 60px 0 0 0
    h1.main-title
        font-size: 30px
    div.main-sub-title
        font-size: 20px
    div.main__text
        font-size: 18px
    img.main__tick
        width: 53px
        height: 53px
        margin-top: -45px
    button.main-button
        width: 279px
        height: 82px
        font-size: 18px
    img.main__sale-img
        width: 210px
        height: 175px
    img.main__background
        height: 764px
    section.main
        height: 888px
    div.coop__wrapper-left, div.coop__wrapper-right
        margin: 0
    div.coop__block-text-left, div.coop__block-text-right
        margin: 0
    img.coop__img
        width: 420px
        display: block
        left: 37%
        transform: translateX(-37px)
        margin: 0 auto
    img.coop__arrow
        width: 192px
        height: 182px
        top: 177px
        left: 43%
    img.coop__colling
        top: 117px
    div.coop__block-text-left-v
        padding: 35px 0 70px 0
    div.coop__block-text-right-v
        padding: 96px 0 51px 0
    div.questions__form-wrapper
        margin: 180px 0 0 0
    div.cert__slider
        width: 1400px
    div.services__wrapper-right
        width: 303px
    img.services__img
        left: 33.5%
@media ( max-width: 1400px )
    #form
        button
            width: 250px
            height: 70px
            font-size: 20px
            margin-top: 30px
    div.reviews__wrapper
        div.cert__slider
            button
                background-size: 24px
                background-position-x: 12px
    button.slick-next:hover
        background-size: 21px
        background-position-x: 12px
    button.slick-prev:hover
            background-size: 21px
            background-position-x: 19px
    // Заголовки
    h2.services-title
        font-size: 30px
        margin-top: 42px
    // Заголовки в блоках
    div.services-title-block, div.coop-title-block, div.job-title-block
        font-size: 20px
    div.services__text, div.coop__text, div.job__text
        font-size: 16px
    div.services__wrapper-left
        width: 64%
    img.services__img
        width: 400px
        height: 370px
    div.services__wrapper-right
        width: 329px
    button.services-button
        width: 300px
        font-size: 14px
        margin-top: 90px
    section.company
        margin-top: 90px
        height: 414px
    h2.company-title
        font-size: 40px
        padding-top: 60px
    div.company__text
        font-size: 60px
    div.company__subtext
        font-size: 19px
        margin-top: -20px
    img.company__img
        height: 89px
        margin-top: 30px
    div.company__wrapper-all
        margin: 22px 100px 0 100px
    h2.coop-title
        font-size: 30px
        margin-top: 79px
    div.form__application
        font-size: 25px
    form.form__form input
        margin: 0 auto
        margin: 10px 0 10px 8px
        width: 244px
        height: 67px
    button.form-button-form
        width: 244px
        height: 67px
        margin-top: 35px
    div.form
        max-width: 900px
    img.form__img-sale
        margin: 40px 0 0 149px
        width: 250px
        height: 205px
    section.coop
        height: 1550px
    img.cert__img
        width: 750px
        height: 490px
    div.cert__slider , .cert .reviews__slider div
        width: 1100px
    button.slick-next, button.slick-arrow
        height: 100px
    button.slick-prev
        width: 105px
        background-size: 35px
        background-position-x: 37px
        &:hover
            background-size: 35px
            background-position-x: 37px
    button.slick-next, .slick-arrow
        width: 105px
        background-size: 35px
        background-position-x: 30px
        &:hover
                background-size: 35px
                background-position-x: 30px
    div.reviews__wrapper
        div.cert__slider
            button.slick-prev
                width: 105px
                background-size: 35px
                background-position-x: 37px
                &:hover
                    background-size: 35px
                    background-position-x: 37px
            button.slick-next, .slick-arrow
                width: 105px
                background-size: 35px
                background-position-x: 30px
                &:hover
                        background-size: 35px
                        background-position-x: 30px
    div.cert__slider div, .cert, .reviews__slider div
        width: 740px
    section.cert
        height: 950px
    div.cert__slider
        margin-top: 0
    h2.job-title, h2.reviews-title, h2.questions-title
        font-size: 30px
    img.job__img
        width: 450px
        height: 450px
        top: 25px
    div.reviews__img
        height: 378px
        top: 25px
        margin-top: 50px
    img.reviews__tran
        width: 180px
        margin-top: 20px
    div.reviews__too
        font-size: 24px
        margin-top: 14px
    div.reviews__post
        font-size: 14px
        margin-top: 5px
        line-height: 18px
    div.reviews__text
        font-size: 12px
        margin-top: 20px
        line-height: 23px
    img.reviews__avatar
        width: 145px
        margin: 62px 28px 0 50px
    div.reviews__elem, .reviews .reviews__elem2, .reviews .reviews__elem3, .reviews .reviews__elem4, .reviews .reviews__elem5
        margin-left: 247px
    section.reviews
        height: 750px
        margin-top: 100px
        padding-top: 70px
    img.questions__img
        width: 440px
        height: 539px
    div.questions__form-application
        font-size: 28px
        span
            font-size: 16px
    div.questions__name
        font-size: 16px
    input.questions__form-end
        width: 300px
        height: 63px
        font-size: 16px
    div.questions__form-wrapper
        width: 415px
    div.questions__wrapper-img-form
        justify-content: space-between
@media ( max-width: 1350px )
    nav.nav
        max-width: 100%
        justify-content: center
    div.services__block-text-right
        width: none
    #form
        button
            width: 250px
            height: 70px
            font-size: 20px
            margin-top: 30px
    section.reviews    
        .cert__slider, .slick-initialized, .slick-slider, .slick-dotted
            width: 940px
    section.cert
        .cert__slider, .slick-initialized, .slick-slider, .slick-dotted
            width: 940px
@media ( max-width: 1168px )
    form#form
        label#phone-error.error
            font-size: 14px
        label#name-error.error
            font-size: 14px
        label#text-error.error
            font-size: 14px
    form#form-2
        label#phone-error.error
            font-size: 13px
        label#name-error.error
            font-size: 13px
        label#text-error.error
            font-size: 13px
    #form
        button
            width: 250px
            height: 70px
            font-size: 20px
            margin-top: 30px
    div.nav__wrapper-phone-column
        padding: 0
        padding-right: 5px 
    a.nav__phone
        font-size: 10px

    ul.nav__list a
        font-size: 15px
        padding-left: 10px
    img.nav__logo
        width: 150px
    div.services__block-text-right
        width: 300px
    img.services__img
        display: none
    img.cert__img
        width: 500px
        height: 350px
    div.cert__slider
        width: 740px
    button.slick-next, button.slick-arrow
        height: 50px
    button.slick-prev
        background-size: 22px
        background-position-x: 17px
    button.slick-next, .slick-arrow
        background-size: 22px
        background-position-x: 12px
    ul.slick-dots li
        width: 15px
        height: 15px
    section.cert
        height: 600px
    h2.cert-title
        padding-top: 20px
    div.services__wrapper-left
        width: 500px
    button.nav-button
        width: 180px
        margin-left: 20px
    a.nav__phone
        padding: 0
    img.coop__img
        width: 365px
    img.coop__arrow
        left: 41%
    img.coop__colling
        left: 71%
    img.job__img
        width: 400px
        height: 400px
    img.reviews__img
        width: 550px
        height: 370px
    h2.footer-title
        font-size: 30px
    address, a.footer__phone, mail.footer__email-text
        font-size: 20px
    div.footer__wrapper-block
        width: 470px

    img.reviews__tran
        width: 165px
        margin-top: 10px
    div.reviews__too
        font-size: 22px
        margin-top: 9px
    div.reviews__post
        font-size: 13px
        margin-top: 0
        line-height: 16px
    div.reviews__text
        font-size: 10px
        margin-top: 15px
        line-height: 19px
    img.reviews__avatar
        width: 111px
        margin: 65px 28px 0 40px
    div.reviews__elem, .reviews .reviews__elem2, .reviews .reviews__elem3, .reviews .reviews__elem4, .reviews .reviews__elem5
        margin-left: 190px
    section.reviews
        height: 750px
        margin-top: 100px
        padding-top: 70px
    div.cert__slider , .cert .reviews__slider div
        width: 1100px
    button.slick-next, button.slick-arrow
        height: 100px
    button.slick-prev
        margin-top: 50px
        width: 90px
        height: 90px
        background-size: 30px
        background-position-x: 32px
        &:hover
            background-size: 30px
            background-position-x: 32px
    button.slick-next, .slick-arrow
        margin-top: 50px
        width: 90px
        height: 90px
        background-size: 30px
        background-position-x: 28px
        &:hover
            background-size: 30px
            background-position-x: 28px
    div.reviews__wrapper
        div.cert__slider
            button.slick-prev
                margin-top: 50px
                width: 90px
                height: 90px
                background-size: 30px
                background-position-x: 32px
                &:hover
                    background-size: 30px
                    background-position-x: 32px
            button.slick-next, .slick-arrow
                width: 90px
                height: 90px
                background-size: 30px
                background-position-x: 28px
                &:hover
                        background-size: 30px
                        background-position-x: 28px
    div.cert__slider div, .cert, .reviews__slider div
        width: 600px
    div.reviews__img
        height: 350px
    .cert__slider, .slick-initialized, .slick-slider, .slick-dotted
        width:  1000px
    section.reviews    
        .cert__slider, .slick-initialized, .slick-slider, .slick-dotted
            width: 940px
    section.cert
        .cert__slider, .slick-initialized, .slick-slider, .slick-dotted
            width: 940px
    div#hid.questions__hidden
        width: 510px
@media ( max-width: 992px )
    .cert__slider, .slick-initialized, .slick-slider, .slick-dotted
        width:  761px
    form#form
        label#phone-error.error
            font-size: 9px
        label#name-error.error
            font-size: 9px
        label#text-error.error
            font-size: 9px
    form#form-2
        label#phone-error.error
            font-size: 9px
        label#name-error.error
            font-size: 9px
        label#text-error.error
            font-size: 9px
    #form
        button
            width: 200px
            height: 50px
            font-size: 16px
            margin-top: 60px
    button.slick-prev
        visibility: hidden
        &:hover
            visibility: hidden
    button.slick-next, .slick-arrow
        visibility: hidden
        &:hover
            visibility: hidden
    section.cert
        div.container
            button.cert__slider, .slick-prev, .slick-arrow
                .slick-next:hover
                button
                    visibility: hidden
    div.reviews__wrapper 
        div.cert__slider
            button
                visibility: hidden
    img.nav__logo
        width: 90px
    .nav
        a.nav__phone
            padding-left: 10px
    h1.main-title
        font-size: 20px
        line-height: 38px
    div.main-sub-title
        font-size: 15px
        line-height: 22px
    div.main__text
        font-size: 15px
        line-height: 24px
    img.main__tick
        width: 40px
        height: 40px
    button.main-button
        width: 216px
        height: 61px
        font-size: 13px
        margin-top: 68px
    img.main__sale-img
        width: 170px
        height: 142px
        margin-top: 29px
        margin-left: 53px
    div.main__wrapper-all-elements
        padding-top: 66px
    img.main__background
        height: 570px
    section.main
        height: 655px
    h2.services-title
        font-size: 20px
    div.services-title-block
        font-size: 16px
    div.services__text
        font-size: 13px
        padding-top: 0
    div.services__wrapper-all
        margin-top: 0
    div.services__wrapper-left
        width: 258px
    div.services-title-block
        width: 200px
        overflow-wrap: break-word
    button.services-button
        width: 200px
        font-size: 10px
        margin-top: 45px
        height: 63px
    section.services
        height: 671px
    div.services__block-text-right
        height: 140px
        margin-top: 18px
    h2.company-title
        font-size: 30px
        padding-top: 20px
    div.company__text
        font-size: 40px
        margin-top: -20px
    div.company__subtext
        font-size: 11px
        margin-top: -27px
        line-height: 16px
    img.company__img
        height: 47px
        margin: 0
    div.company__wrapper-all
        margin-top: 0
    div.company__wrapper-block
        height: 70px
    section.company
        height: 284px
    img.coop__img
        width: 150px
        height: 200px
    h2.coop-title, h2.cert-title, h2.reviews-title
        font-size: 25px
    form.form__form
        input
            width: 200px
            height: 54px
        button
            width: 197px
            height: 55px
            margin-top: 53px
    div.form__application
        font-size: 23px
        margin-bottom: 45px
    div.form
        max-width: 630px
    img.form__img-sale
        width: 170px
        height: 150px
        margin: 60px 0 0 41px
    div.form__wrapper
        width: 302px
    img.coop__img, img.coop__colling, img.coop__arrow
        display: none
    img.job__img
        display: none
    div.job__wrapper-down
        margin: 40px 0 0 0
    div.job__wrapper-all
        margin-top: 0
    h2.job-title
        margin-top: 50px
    section.job
        height: 740px
    h2.questions-title
        font-size: 25px
        margin-top: 50px
    img.questions__img
        width: 250px
        height: 354px
    div.questions__form-application
        font-size: 19px
        span
            font-size: 12px
    form.questions__form
        input
            width: 200px
    div.questions__wrapper-img-form
        height: 550px
        button
            width: 200px
            height: 59px
            margin-top: 20px
            font-size: 16px
    section.questions
        height: 750px
    img.footer__logo
        width: 207px
        padding-right: 41px
    div#hid.questions__hidden
        width: 425px
    section.cert .cert__slider, section.cert .slick-initialized, section.cert .slick-slider, section.cert .slick-dotted
        width: 730px
    section.reviews .cert__slider, section.reviews .slick-initialized, section.reviews .slick-slider, section.reviews .slick-dotted
        width: 742px
    div.reviews__elem, .reviews .reviews__elem2, .reviews .reviews__elem3, .reviews .reviews__elem4, .reviews .reviews__elem5
        margin-left: 173px
@media ( max-width: 740px )
    form#form
        label#phone-error.error
            font-size: 9px
        label#name-error.error
            font-size: 9px
        label#text-error.error
            font-size: 9px
    form#form-2
        label#phone-error.error
            font-size: 9px
        label#name-error.error
            font-size: 9px
        label#text-error.error
            font-size: 9px
    ul.nav__list
        a
            font-size: 10px
    img.nav__logo
        width: 78px
    .nav
        a.nav__phone
            padding-left: 5px
            padding-right: 5px
            font-size: 8px
    button.nav-button
        width: 120px
        height: 39px
        margin-left: 10px
        font-size: 11px
    h1.main-title
        font-size: 14px
        line-height: 24px
    div.main-sub-title
        font-size: 10px
        line-height: 17px
    div.main__text
        font-size: 11px
        line-height: 17px
    img.main__tick
        width: 25px
        height: 25px
        margin-top: -31px
    button.main-button
        width: 127px
        height: 37px
        font-size: 9px
        margin-top: 44px
    img.main__sale-img
        width: 117px
        height: 100px
        margin-top: 13px
    div.main__wrapper-all-elements
        padding-top: 40px
    div.main__wrapper-text-left
        margin-right: 68px
    img.main__background
        height: 396px
    div.main__wrapper-all
        padding-top: 41px
    section.main
        height: 480px
    div.services__block-text-left
        width: 180px
    div.services__wrapper-left
        margin-left: 80px
        width: 163px
    div.services__block-text-right
        width: 180px
    div.services__wrapper-right
        width: 255px
    div.services__wrapper-all
        justify-content: space-between
    button.services-button
        width: 170px
        font-size: 8px
        height: 53px
    h2.company-title
        font-size: 22px
    div.company__text
        font-size: 30px
    div.company__subtext
        font-size: 9px
        margin-top: -31px
    img.company__img
        height: 37px
        margin-top: 13px
    section.company
        height: 247px
    h2.coop-title
        font-size: 20px
        margin-top: 35px
    div.coop-title-block
        font-size: 13px
    div.coop__text
        font-size: 10px
    div.coop__wrapper-left, div.coop__wrapper-right, div.coop-title-block, div.coop__text
        width: 200px
    div.coop__wrapper-all
        justify-content: center
        margin-top: 0
    section.coop
        height: 1400px
    div.form__application
        font-size: 20px
    form.form__form
        input
            font-size: 13px
    div.form__wrapper
        width: 260px
    img.cert__img
        width: 350px
        height: 270px
        margin-top: 10px
    div.cert__slider
        width: 500px
    button.slick-next, button.slick-arrow
        height: 35px
    button.slick-prev
        background-size: 12px
        background-position-x: 13px
        margin-top: 55px
    button.slick-next, .slick-arrow
        background-size: 12px
        background-position-x: 12px
        margin-top: 55px
    ul.slick-dots li
        width: 12px
        height: 12px
    ul.slick-dots
        bottom: -50px
    h2.cert-title
        font-size: 20px
    section.cert
        height: 440px
    button.slick-next, button.slick-arrow
        &:hover
            background: none
    button.slick-prev, button.slick-next
        &:hover
        pointer-events: none
    img.reviews__img
        width: 355px
        height: 249px
    h2.job-title
        font-size: 20px
    div.job-title-block
        font-size: 16px
        margin-top: 10px
    div.job__text
        font-size: 12px
        padding-top: 9px
    div.coop__block-text-right
        width: 271px
    section.job
        height: 590px
    h2.reviews-title
        font-size: 20px
    section.reviews
        height: 467px
        padding-top: 43px
    img.questions__img
        display: none
    div.questions__wrapper-img-form
        display: flex
        justify-content: center
    h2.footer-title
        font-size: 15px
    address, a.footer__phone, mail.footer__email-text
        font-size: 12px
    div.footer__wrapper-block
        width: 338px
    div.footer__wrap-ph
        a
            padding: 0
    img.footer__logo
        width: 152px
        padding-right: 48px
    div.footer__text-logo
        font-size: 13px
    img.footer__logo-2020
        padding-left: 20px
    form.forms, form.forms-application
        width: 406px
        height: 300px
        padding: 30px
        input
            width: 300px
            font-size: 15px
            display: flex
            justify-content: center
        button
            width: 220px
            height: 56px
            font-size: 16px
    div.modal-forms__title
        font-size: 18px
        line-height: 25px
        margin-bottom: 0
    
    img.reviews__tran
        width: 125px
        margin-top: -10px
    div.reviews__too
        width: 280px
        font-size: 17px
        margin-top: 2px
    div.reviews__post
        width: 280px
        font-size: 10px
        margin-top: 0
        line-height: 13px
    div.reviews__text
        width: 280px
        font-size: 8px
        margin-top: 10px
        line-height: 19px
    img.reviews__avatar
        width: 80px
        margin: 50px 28px 0 20px
    div.reviews__elem, .reviews .reviews__elem2, .reviews .reviews__elem3, .reviews .reviews__elem4, .reviews .reviews__elem5
        margin-left: 120px
    section.reviews
        height: 500px
        margin-top: 100px
        padding-top: 20px
    div.reviews__wrapper
        div.cert__slider , .cert .reviews__slider div
            width: 600px
    div.reviews__img
        height: 290px
    section.cert
        div.cert__slider
            width: 600px
    div.reviews__img
        margin-top: 20px
    #form
        button
            width: 200px
            height: 50px
            font-size: 16px
            margin-top: 60px
    .services__wrapper-right
        .services__block-text-right, .services-title-block, .services__text
            width: 150px
@media ( max-width: 550px )
    .cert__slider, .slick-initialized, .slick-slider, .slick-dotted
        width: 500px
    #rev-post
        font-size: 6px
    #form
        button
            margin-top: 10px
    ul.nav__list
        padding-left: 2px
        a
            padding-left: 5px
            font-size: 7px
    img.nav__logo
        width: 40px
    .nav
        a.nav__phone
            padding: -10px 2px 0 2px
            font-size: 6px
    button.nav-button
        width: 57px
        height: 25px
        margin-left: 2px
        font-size: 5px
    h1.main-title
        font-size: 10px
        line-height: 18px
    div.main-sub-title
        font-size: 8px
        line-height: 13px
    div.main__text
        font-size: 8px
        line-height: 13px
    img.main__tick
        width: 20px
        height: 20px
        margin-top: -20px
    button.main-button
        width: 90px
        height: 27px
        font-size: 8px
        margin-top: 34px
    img.main__sale-img
        width: 80px
        height: 70px
        margin-top: 10px
    div.main__wrapper-text-left
        margin-right: 55px
    img.main__background
        height: 296px
    div.main__wrapper-all
        padding-top: 31px
    section.main
        height: 380px
    div.services__block-text-left
        width: 120px
    div.services__wrapper-left
        margin-left: 36px
        width: 143px
    div.services__block-text-right
        margin-top: 0
        width: 110px
        padding-top: 50px
        &:nth-child(1)
            padding-top: 0
        &:nth-child(2)
            padding-top: 40px
        &:nth-child(3)
            padding-top: 70px
    div.services__wrapper-right
        width: 105px
    div.services-title-block
        font-size: 7px
    div.services__text
        font-size: 7px
        
    div.services-title-block
        width: 100px
    button.services-button
        width: 150px
        height: 45px
    section.company
        margin-top: 50px
    div.company__text
        font-size: 17px
    div.company__wrapper-all
        margin: 0 20px 0 20px
    div.company__subtext
        font-size: 5px
        margin-top: -43px
        line-height: 9px
    h2.company-title
        font-size: 13px
        height: 60px
    section.company
        height: 180px
    h2.services-title, h2.coop-title
        font-size: 11px
    div.coop__wrapper-left, div.coop__wrapper-right, div.coop-title-block, div.coop__text
        width: 150px
    div.coop-title-block
        font-size: 8px
    div.coop__text
        font-size: 8px
        padding-top: 0
    div.form
        max-width: 150px
    img.form__img-sale
        display: none
    form.form__form
        button
            margin-top: 20px
    div.form__wrapper
        div.form__application
            margin-bottom: 20px
    div.form
        margin-top: 50px
    section.coop
        height: 1190px
    div.coop__block-text-right-v
        margin-top: -5px
    div.form__application
        font-size: 13px
    form.form__form
        input
            width: 200px
            height: 50px
            font-size: 10px
        button
            font-size: 15px
    img.cert__img
        width: 180px
        height: 150px
    div.cert__slider
        width: 320px
    button.slick-next, button.slick-arrow
        height: 30px
        margin-top: 0
    button.slick-prev
        z-index: 999999
        background-size: 11px
        background-position-x: 10px
        display: none
    button.slick-next, .slick-arrow
        z-index: 999999
        display: none
        background-size: 11px
        background-position-x: 8px
    ul.slick-dots li
        width: 10px
        height: 10px
    section.cert
        height: 311px
    h2.cert-title
        font-size: 14px
    h2.job-title
        font-size: 13px
    div.job-title-block
        font-size: 10px
        margin-top: 5px
    div.job__text
        font-size: 8px
        padding-top: 0
    .job__wrapper-left, .job .job__wrapper-right, .job .job__wrapper-center, .job .job__wrapper-left-2, .job .job__wrapper-right-2
        width: 320px
    section.job
        div.job__wrapper-center
            width: 320px
    h2.reviews-title
        font-size: 11px
    img.reviews__img
        width: 200px
        height: 108px
    section.reviews
        height: 280px
        padding-top: 27px
    div.coop__block-text-right
        width: 220px
    section.cert
        div.container
            div.cert__slider
                button
                    visibility: hidden
    div.reviews__wrapper 
        div.cert__slider
            button
                visibility: hidden
    div.coop__block-text-right
        width: 130px
    div.coop__block-text-left
        width: 294px
    div.coop__block-text-left-v
        width: 314px
    img.company__img
        width: 50px
    div.questions__form
        width: 0
    div.questions__form-wrapper
        width: 320px
        padding: 0
    div.questions__wrapper-img-form
        width: 0
    div.footer__wrapper-block
        width: 100px
        padding: 0
    h2.footer-title
        font-size: 9px
        line-height: 19px
        padding-top: 20px
    footer.footer
        img
            padding-right: 0
    address
        font-size: 8px
        padding-left: 5px
    div.footer__wrap-ph
        a
            font-size: 8px
            padding-left: 5px
    mail.footer__email-text
        font-size: 8px
        padding-left: 5px
    img.footer__geo, img.footer__phone-img, img.footer__email-img
        display: none
    img.footer__social-icons
        margin: 10px
        width: 20px
        height: 20px
    a.up
        width: 40px
        height: 40px
        right: 20px
        bottom: 30px
        img
            width: 20px
            background-size: 5px
    #map, div.footer__wrapper-block
        height: 500px
    div.footer__wrapper-phone, div.footer__wrapper-email
        margin-top: 0
    div.footer__text-logo
        font-size: 8px
    img.footer__logo-2020
        width: 35px
    img.footer__logo
        width: 90px
        padding-left: 13px
    footer.footer
        height: 529px
    form#form
        label#phone-error.error
            font-size: 9px
        label#name-error.error
            font-size: 9px
        label#text-error.error
            font-size: 9px
    form#form-2
        label#phone-error.error
            font-size: 7px
        label#name-error.error
            font-size: 7px
        label#text-error.error
            font-size: 7px
    section.reviews
        height: 480px
    nav.nav
        justify-content: space-between
    img.nav__logo
        width: 70px
    ul.nav__list
        a
            li
                font-size: 11px
                padding-left: 13px
    div.nav__wrapper-phone
        div.nav__wrapper-phone-column
            a.nav__phone
                font-size: 8px
    #map
        height: 300px
    #block
        height: 300px
    #f0
    #f1
        padding-top: 0
    #f2
        margin-top: 15px
        line-height: 5px
    #f3
        margin-top: 10px
    div.footer__wrapper-address
        margin-top: 10px
        line-height: 16px
    div.footer__wrapper-social-icons
        margin-top: 0
    footer.footer
        height: 280px
    div.footer__line
        height: 80px
    nav#nav
        height: 50px
    button.nav-button
        font-size: 4px
@media ( max-width: 480px )
    nav#nav
        height: 40px
    img.nav__logo
        width: 40px
    ul.nav__list
        a
            li
                font-size: 8px
                padding-left: 0
    div.nav__wrapper-phone
        div.nav__wrapper-phone-column
            a.nav__phone
                font-size: 5px
@media ( max-width: 450px )
    div.reviews__wrapper div.cert__slider, div.reviews__wrapper .cert .reviews__slider div
        width: 320px
        // margin-left: 25px
    .reviews__img, .slick-slide, .slick-current, .slick-active
        width: 210px
    div.reviews__img
        max-height: 220px
        width: 200px
        margin-top: 0
    section.reviews
        height: 350px
        padding-top: 0
    img.reviews__tran
        width: 80px
        margin-top: -30px
    div.reviews__too
        width: 280px
        font-size: 10px
        margin-top: -10px
    div.reviews__post
        width: 100px
        font-size: 6px
        margin-top: -15px
        line-height: 8px
    div.reviews__text
        width: 130px
        font-size: 6px
        margin-top: 5px
        line-height: 10px
    #rev-text, #rev-post, #rev-post
        width: 130px
    img.reviews__avatar
        width: 35px
        margin: 20px 28px 0 5px
    div.reviews__elem, .reviews .reviews__elem2, .reviews .reviews__elem3, .reviews .reviews__elem4, .reviews .reviews__elem5
        margin-left: 50px
    ul.slick-dots
        bottom: -40px
    h2.reviews-title
        margin-top: 25px
        font-size: 13px
    form.form__form
        #send
            width: 202px
            height: 50px
            font-size: 12px
    
    form#form
        label#phone-error.error
            font-size: 9px
        label#name-error.error
            font-size: 9px
        label#text-error.error
            font-size: 9px
    form#form-2
        label#phone-error.error
            font-size: 7px
        label#name-error.error
            font-size: 7px
        label#text-error.error
            font-size: 7px
    div.nav__wrapper-phone div.nav__wrapper-phone-column a.nav__phone
        font-size: 4px
        line-height: 9px
    button.nav-button
        font-size: 4px
    form.forms, .forms-application, .forms-application_active
        width: 270px
        height: 230px
        padding: 10px
    div.modal-forms__title
        font-size: 14px
        line-height: 16px
    form.forms input, form.forms-application input
        width: 170px
        height: 41px
        font-size: 11px
        margin-left: 40px
        padding-left: 15px
    form.forms button, form.forms-application button
        width: 163px
        height: 46px
        font-size: 10px
        margin-top: 0
    form#application
        label#phone-error.error
            font-size: 8px
            margin: 0
        label#name-error.error
            font-size: 8px
            margin: 0