// Адаптация сайта
@media ( max-width: 1800px )
    img.services__img
        width: 450px
        height: 419px
@media ( max-width: 1700px )
    h2.services-title
        font-size: 34px
    div.services-title-block, div.coop-title-block, div.job-title-block
        font-size: 23px
    div.services__text, div.coop__text, div.job__text
        font-size: 18px
    button.services-button
        width: 340px
        font-size: 15px
    h2.company-title
        font-size: 57px
    div.company__text
        font-size: 80px
    div.company__subtext
        font-size: 25px
    img.company__img
        height: 108px
    h2.coop-title, h2.cert-title, h2.job-title, h2.reviews-title, h2.questions-title
        font-size: 35px
    img.coop__img
        width: 450px
        height: 600px
    img.coop__arrow
        width: 270px
        height: 280px
    img.coop__colling
        left: 65%
        transform: translateX(-65%)
    img.cert__img
        width: 990px
        height: 730px
    button.slick-prev, button.slick-arrow
        width: 90px
        height: 90px
        margin: 0 10px 0 10px
    img.job__img
        width: 550px
        height: 550px
    img.reviews__img
        width: 900px
        height: 480px
    section.cert
        height: 1300px
    h2.cert-title
        padding-top: 140px
@media ( max-width: 1600px )
    ul.nav__list a
        font-size: 17px
        padding-left: 40px
    img.nav__logo
        width: 150px
    a.nav__phone
        font-size: 17px
    button.nav-button
        font-size: 15px
        width: 186px
    div.main__wrapper-all
        padding: 60px 0 0 0
    h1.main-title
        font-size: 30px
    div.main-sub-title
        font-size: 20px
    div.main__text
        font-size: 18px
    img.main__tick
        width: 53px
        height: 53px
        margin-top: -45px
    button.main-button
        width: 279px
        height: 82px
        font-size: 18px
    img.main__sale-img
        width: 210px
        height: 175px
    img.main__background
        height: 764px
    section.main
        height: 888px
    div.coop__wrapper-left, div.coop__wrapper-right
        margin: 0
    div.coop__block-text-left, div.coop__block-text-right
        margin: 0
    img.coop__img
        width: 420px
        display: block
        left: 37%
        transform: translateX(-37px)
        margin: 0 auto
    img.coop__arrow
        width: 192px
        height: 182px
        top: 177px
        left: 43%
    img.coop__colling
        top: 117px
    div.coop__block-text-left-v
        padding: 35px 0 70px 0
    div.coop__block-text-right-v
        padding: 96px 0 51px 0
    div.questions__form-wrapper
        margin: 180px 0 0 0
    div.cert__slider
        width: 1400px
    div.services__wrapper-right
        width: 303px
    img.services__img
        left: 33.5%
@media ( max-width: 1400px )
    // Заголовки
    h2.services-title
        font-size: 30px
        margin-top: 42px
    // Заголовки в блоках
    div.services-title-block, div.coop-title-block, div.job-title-block
        font-size: 20px
    div.services__text, div.coop__text, div.job__text
        font-size: 16px
    div.services__wrapper-left
        width: 64%
    img.services__img
        width: 400px
        height: 370px
    div.services__wrapper-right
        width: 329px
    button.services-button
        width: 300px
        font-size: 14px
        margin-top: 90px
    section.company
        margin-top: 90px
        height: 414px
    h2.company-title
        font-size: 40px
        padding-top: 60px
    div.company__text
        font-size: 60px
    div.company__subtext
        font-size: 19px
        margin-top: -20px
    img.company__img
        height: 89px
        margin-top: 30px
    div.company__wrapper-all
        margin: 22px 100px 0 100px
    h2.coop-title
        font-size: 30px
        margin-top: 79px
    div.form__application
        font-size: 25px
    form.form__form input
        margin: 0 auto
        margin: 10px 0 10px 8px
        width: 244px
        height: 67px
    button.form-button-form
        width: 244px
        height: 67px
        margin-top: 35px
    div.form
        max-width: 900px
    img.form__img-sale
        margin: 40px 0 0 149px
        width: 250px
        height: 205px
    section.coop
        height: 1550px
    img.cert__img
        width: 750px
        height: 490px
    div.cert__slider , .cert .reviews__slider div
        width: 1100px
    button.slick-next, button.slick-arrow
        height: 70px
    button.slick-prev
        background-size: 35px
        background-position-x: 23px
    button.slick-next, .slick-arrow
        background-size: 35px
        background-position-x: 15px
    section.cert
        height: 950px
    div.cert__slider
        margin-top: 0
    h2.job-title, h2.reviews-title, h2.questions-title
        font-size: 30px
    img.job__img
        width: 450px
        height: 450px
        top: 25px
    img.reviews__img
        width: 750px
        height: 400px
    section.reviews
        height: 750px
        margin-top: 100px
        padding-top: 70px
    img.questions__img
        width: 440px
        height: 539px
    div.questions__form-application
        font-size: 28px
        span
            font-size: 16px
    div.questions__name
        font-size: 16px
    input.questions__form-end
        width: 300px
        height: 63px
        font-size: 16px
    div.questions__form-wrapper
        width: 415px
    div.questions__wrapper-img-form
        justify-content: space-between
@media ( max-width: 1350px )
    nav.nav
        justify-content: space-between