.coop
    position: relative
    height: 1700px
    &__wrapper-all
        display: flex
        justify-content: flex-end
        margin-top: 112px
        // padding: 0 250px 0 300px
    &__wrapper-right
        display: flex
        flex-direction: column
    &__wrapper-left
        width: 100%
        margin-left: 180px
    &__block-text-left
        display: flex
        flex-direction: column
        justify-content: start
        width: 395px
        margin-left: 115px
    &__block-text-right
        margin-right: 275px
        width: 395px
    &__text
        @include style-text
        text-align: center
    &__img
        @include img
        max-width: 478px
        height: 700px
        top: 17%
        z-index: 999
    &__circle-img
        @include img
        width: 918px
        height: 918px
        left: 504px
        top: 3034px
        top: 10%
    &__block-text-left-v
        padding: 70px 0 116px 0
        width: 395px
    &__block-text-right-v
        padding: 125px 0 95px 0
    &__colling
        position: absolute
        top: 60px
        left: 63%
        transform: translateX(-63%)
    &__arrow
        z-index: -9
        position: absolute
        top: 100px
        left: 44%
        transform: translateX(-44%)
        opacity: 0.5
        transform: rotate(10.41deg)
    
.coop__img
    &:hover
        animation: 1.2s ease-in-out 0s normal none infinite running trambling-animation

@keyframes trambling-animation 
    0%, 50%, 100% 
        transform: rotate(0deg)
    10%, 30% 
        transform: rotate(-10deg)
    20%, 40% 
        transform: rotate(10deg)
.coop__img
    &:hover
        -webkit-animation: 1.2s ease-in-out 0s normal none infinite running trambling-animation
        -moz-animation: 1.2s ease-in-out 0s normal none infinite running trambling-animation
        -o-animation: 1.2s ease-in-out 0s normal none infinite running trambling-animation
        animation: 1.2s ease-in-out 0s normal none infinite running trambling-animation
@keyframes trambling-animation
   0%, 50%, 100%
     transform: rotate(0deg)
     -webkit-transform: rotate(0deg)
     -moz-transform: rotate(0deg)
     -o-transform: rotate(0deg)
     -ms-transform: rotate(0deg)
   10%, 30%
     transform: rotate(-10deg)
     -webkit-transform: rotate(-10deg)
     -moz-transform: rotate(-10deg)
     -o-transform: rotate(-10deg)
     -ms-transform: rotate(-10deg)
   20%, 40%
     transform: rotate(10deg)
     -webkit-transform: rotate(10deg)
     -moz-transform: rotate(10deg)
     -o-transform: rotate(10deg)
     -ms-transform: rotate(10deg)
@media ( max-width: 1880px )
    img.coop__circle-img
        left: 484px
@media ( max-width: 1800px )
    img.coop__circle-img
        left: 445px
@media ( max-width: 1750px )
    img.coop__circle-img
        left: 426px
@media ( max-width: 1700px )
    img.coop__circle-img
        top: 8%
        left: 402px
@media ( max-width: 1650px )
    img.coop__circle-img
        left: 379px
@media ( max-width: 1601px )
    img.coop__circle-img
        left: 357px
@media ( max-width: 1600px )
    img.coop__circle-img
        left: 305px
@media ( max-width: 1550px )
    img.coop__circle-img
        left: 288px
@media ( max-width: 1500px )
    img.coop__circle-img
        left: 268px
@media ( max-width: 1450px )
    img.coop__circle-img
        left: 246px
@media ( max-width: 1400px )
    img.coop__circle-img
        left: 229px
        top: 7%
@media ( max-width: 1350px )
    img.coop__circle-img
        left: 215px
@media ( max-width: 1300px )
    img.coop__circle-img
        left: 193px
@media ( max-width: 1280px )
    img.coop__circle-img
        left: 176px
@media ( max-width: 1253px )
    img.coop__circle-img
        left: 166px
@media ( max-width: 1200px )
    img.coop__circle-img
        left: 153px
@media ( max-width: 1150px )
    img.coop__circle-img
        left: 100px
@media ( max-width: 1100px )
    img.coop__circle-img
        left: 87px
@media ( max-width: 1050px )
    img.coop__circle-img
        left: 67px
@media ( max-width: 1100px )
    img.coop__circle-img
        left: 46px
@media ( max-width: 992px )
    img.coop__circle-img
        display: none