.questions
    height: 1000px
    &__wrapper-img-form
        display: flex
        align-items: center
    &__img
        margin-top: -100px
        max-width: 623px
    &__form
    &__form-wrapper
        background: #ffffff
        border-radius: 15px
        display: flex
        justify-content: center
        align-items: center
        flex-direction: column
        width: 616px
        height: 721px
        margin: 180px 0 0 103px
        padding: 0 102px 71px 102px
    // Заголовки в форме
    &__form-application
        margin: 0 0 32px 0
        text-align: center
        font-style: normal
        font-weight: bold
        font-size: 40px
        line-height: 47px
        color: #333333
        span
            font-style: normal
            font-weight: 500
            font-size: 20px
            line-height: 25px
            color: #B2BCC3
            display: flex
            justify-content: center
            align-items: center
    &__form-end
        border: none
        border-radius: 0%
        border-bottom: solid 1px
        padding: 0
        outline: none
        width: 370px
    &__name
        padding-top: 21px
        padding-bottom: 10px
        font-style: normal
        font-weight: 500
        font-size: 20px
        line-height: 0px
        display: flex
        align-items: center
        color: #333333
#text, #phone, #name
    color: #000000
    border-color: #b2bcc3
#text
    display: flex
    height: 100px
    flex-wrap: wrap
.container
    @include container