.questions
    height: 1000px
    max-width: 1920px
    &__wrapper-img-form
        display: flex
        align-items: center
    &__img
        margin-top: 100px
        max-width: 623px
        width: 632px
        height: 760px
    &__form
        position: relative
        z-index: 99
    &__form-wrapper
        position: absolute
        background: #ffffff
        border-radius: 15px
        display: flex
        justify-content: center
        align-items: center
        flex-direction: column
        width: 616px
        height: 821px
        margin: 300px 0 0 103px
        top: -580px
        box-shadow: -5px -15px 70px rgba(255, 255, 255, 0.35), 5px 15px 70px rgba(0, 101, 177, 0.2)
    &__bg
        position: absolute
        left: 50px
        top: -230px
        padding-top: 230px
        z-index: -999999999999999999
    // Заголовки в форме
    &__form-application
        margin: 0 0 32px 0
        text-align: center
        font-style: normal
        font-weight: bold
        font-size: 40px
        line-height: 47px
        color: #333333
        span
            font-style: normal
            font-weight: 500
            font-size: 20px
            line-height: 25px
            color: #B2BCC3
            display: flex
            justify-content: center
            align-items: center
    &__form-end
        border: none
        border-radius: 0%
        border-bottom: solid 1px
        padding: 0
        outline: none
        width: 370px
    &__name
        padding-top: 21px
        padding-bottom: 10px
        font-style: normal
        font-weight: 500
        font-size: 20px
        line-height: 0px
        display: flex
        align-items: center
        color: #333333
#send
    width: 280px
    height: 73px
#text, #phone, #name
    color: #000000
    border-color: #b2bcc3
#text
    display: flex
    height: 100px
    flex-wrap: wrap
.container
    @include container
#hid
    position: absolute
    width: 850px
    min-height: 900px
    overflow: hidden
    margin-bottom: 420px
    left: -20px
@media ( max-width: 1900px )
    #hid
        left: -48px
@media ( max-width: 1841px )
    #hid
        left: -89px
@media ( max-width: 1756px )
    #hid
        width: 768px
        left: -58px
@media ( max-width: 1600px )
    #hid
        width: 841px
        left: -58px
        margin-bottom: 134px
@media ( max-width: 1600px )
    div.questions__form-wrapper
        margin: 314px 0 0 92px
    #hid
        width: 683px
@media ( max-width: 1500px )
    div.questions__form-wrapper
        margin: 314px 0 0 92px
    #hid
        width: 683px
@media ( max-width: 1400px )
    #hid
        width: 615px
        img
            width: 654px
    div.questions__form-wrapper
        margin: 400px 0 0 -530px
        height: 740px
        #form-2
            button
                margin-bottom: 40px
    img.questions__img
        width: 550px
        height: 700px
        margin-top: 120px
        margin-left: 50px
    div.services-title-block, div.services__block-text-right, .services__text
        width: 240px
    img.cert__img
        max-width: 679px
@media ( max-width: 1280px )
    #hid
        width: 531px
        height: 100px
        left: -58px
        margin-bottom: 170px
        img
            width: 650px
    div.questions__form-wrapper
        height: 600px
        width: 360px
        margin: 382px 0 0 140px
        #form-2
            input
                width: 274px
                height: 45px
                font-size: 14px
            button
                width: 249px
                height: 68px
                margin-top: 20px
                margin-bottom: 20px
                font-size: 19px
    div.questions__wrapper-img-form
        justify-content: start
    div.questions__form-application
        font-size: 23px
        span
            font-size: 12px
    img.questions__img
        margin-left: 88px
        margin-top: 0
    section.questions
        height: 788px
    div.services-title-block, .services__text, .services__block-text-right
        width: 300px
@media ( max-width: 1250px )
    #hid
        width: 580px
        margin-bottom: 200px
        img
            margin-top: 80px
            width: 600px
    div.questions__form-wrapper
        height: 600px
        width: 360px
        margin: 391px 0 0 140px
    img.questions__img
        height: 600px
        width: 450px
        margin-top: 70px
@media ( max-width: 1170px )
    #hid
        width: 570px
        height: 100px
        left: -63px
        margin-bottom: -115px
        img
            width: 500px
    div.questions__form-wrapper
        height: 500px
        width: 280px
        margin: 460px 0 0 100px
        #form-2
            input
                width: 190px
                height: 45px
                font-size: 12px
                margin-left: 0
            button
                width: 194px
                height: 56px
                margin-top: 10px
                margin-bottom: 10px
                font-size: 15px
            div.questions__name
                font-size: 14px
    div.questions__form-application
        padding-top: 20px
        font-size: 18px
        margin-bottom: 10px
        line-height: 19px
        span
            padding-top: 10px
            font-size: 11px
            line-height: 16px
    img.questions__img
        width: 350px
        height: 445px
        margin-left: 86px
    section.questions
        height: 689px
@media ( max-width: 1100px )
    #hid
        width: 560px
        img: 466px
@media ( max-width: 992px )
    #hid
        width: 287px
        height: 100px
        left: -57px
        margin-bottom: -129px
        img
            width: 400px
    div.questions__form-wrapper
        height: 350px
        width: 230px
        margin: 514px 0 0 200px
        #form-2
            input
                width: 160px
                height: 30px
                font-size: 10px
                margin-bottom: 10px
            button
                width: 162px
                height: 45px
                margin-top: 0
                margin-bottom: 0
                font-size: 11px
            div.questions__name
                font-size: 11px
    div.questions__form-application
        padding-top: 5px
        font-size: 14px
        margin-bottom: 5px
        line-height: 12px
        span
            padding-top: 10px
            font-size: 11px
            line-height: 16px
    img.questions__img
        width: 200px
        height: 300px
    section.questions
        height: 455px
    div.questions__wrapper-img-form
        height: 279px
    h2.questions-title
        font-size: 20px
@media ( max-width: 884px )
    div.questions__form-wrapper
        margin: 514px 0 0 142px
@media ( max-width: 822px )
    #hid
        width: 425px
        height: 100px
        left: -63px
        margin-bottom: -149px
        img
            width: 400px
    div.questions__form-wrapper
        height: 350px
        width: 230px
        margin: 514px 0 0 92px
@media ( max-width: 740px )
    div.questions__form-wrapper
        margin: 514px 0 0 336px
@media ( max-width: 700px )
    div.questions__form-wrapper
        margin: 514px 0 0 239px
@media ( max-width: 600px )
    div.questions__form-wrapper
        margin: 514px 0 0 194px
@media ( max-width: 550px )
    .services__wrapper-right .services__block-text-right, .services__wrapper-right .services-title-block, .services__wrapper-right .services__text
        width: 100px
    section.cert 
        div.cert__slider, .slick-initialized, .slick-slider, .slick-dotted
            width: 360px
    div#hid.questions__hidden
        width: 300px
    #hid
        width: 425px
        height: 100px
        left: -51px
        margin-bottom: -465px
        img
            width: 270px
    div.questions__form-wrapper
        height: 300px
        width: 174px
        margin: 556px 0 0 100px
        #form-2
            input
                width: 130px
                height: 27px
                font-size: 9px
                margin-bottom: 10px
            button
                width: 127px
                height: 36px
                font-size: 10px
            div.questions__name
                font-size: 8px
                padding-top: 10px
    div.questions__form-application
        font-size: 12px
        margin-bottom: 10px
        line-height: 10px
        span
            font-size: 7px
    img.questions__img
        width: 200px
        height: 300px
        margin-left: 500px
@media ( max-width: 349px )
    #hid
        width: 425px
        height: 100px
        left: -61px
        margin-bottom: -389px
        img
            width: 270px
    div.questions__form-wrapper
        height: 300px
        width: 174px
        margin: 449px 0 0 96px
    section.questions
        height: 360px
    div#hid.questions__hidden
        width: 285px
    section.cert 
        div.cert__slider, .slick-initialized, .slick-slider, .slick-dotted
            width: 320px
    section.services   
        div.services__text, div.services-title-block
            width: 280px
        div.services__text, div.services-title-block
            width: 100px