.reviews
    height: 1018px
    margin-top: 235px
    text-align: center
    color: #ffffff
    background: url('../img/background/background-slider-2.png') center (center/cover) no-repeat
    background-color: rgba(21, 79, 155, 0.69)
    background-blend-mode: overlay
    padding-top: 105px
    display: flex
    justify-content: center
    position: relative
    font-size: 26px
    &__img
        display: block
        margin: 0 auto
    &__wrapper
        margin-top: 40px
.slick-dots
    display: flex
    justify-content: center
    text-align: center
    position: absolute
    bottom: -80px
    left: 50%
    transform: translateX(-60%)